@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

/*=====================================*/
/*My variables*/
/*=====================================*/

:root{
    --primary:#1D4ED8;
    --text :#262626;
    --subtxt:#A3A3A3;
    --primary02:#7C3AED;

    --dark-black : rgba(18, 18, 18, 1);

    --transition : all .4s ease-in-out;
}

/*=====================================*/
/*Styling wrapper*/
/*=====================================*/

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
    transition: var(--transition);
}


/*=====================================*/
/*Styling navbar*/
/*=====================================*/

.nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: 1px 1px 10px #ececec27;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    /* border-bottom: 1px solid rgba(38, 31, 34, 0.1); */
}


.links{
    display: flex;
    align-items: center;
    list-style: none;
}

.links li{
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 4px 8px;
    color: var(--primary);
    margin: 30px;
}

a{
    text-decoration: none;
}

.links li:hover{
    border: 2px solid var(--primary);
    background-color: #1d4fd845;
    transition-duration: .4s;
    transition-timing-function: ease-in;
}

.nav > img{
    width: 30px;
    cursor: pointer;
    fill: #1D4ED8;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
    border: 2px solid transparent;
    
}

/*=====================================*/
/*styling hero*/
/*=====================================*/

.header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.head{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.head span{
    font-weight: 300;
    font-size: 45px;
    color: var(--primary);
    margin-bottom: 40px;
}

.btn{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 120px;
    margin-top: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0px 267px 468px rgba(44, 44, 44, 0.04),
                 0px 33.4325px 58.6009px rgba(44, 44, 44, 0.02);
    cursor: pointer;
    
}

.btn svg{
    margin-left: 10px;
    width: 24px;
}

.btn:hover{
    background:  #1d4fd8cf;
}

/*=====================================*/
/*styling Work section*/
/*=====================================*/

.sec-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.head-work{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.head-work .main-name{
    font-size: 40px;
    font-weight: 600;
    color: var(--text);
}

.head-work .sub-name{
    font-size: 15px;
    font-weight: 300;
    color: var(--subtxt);
    margin-top: 20px;
}

.work-sec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
}

.work{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.073);
    /* box-shadow: 10px 10px rgba(65, 63, 63, 0.223); */
}

.work .info{
    scale: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    color: var(--text);
    font-weight: 300;
}

.work:hover .info{
    scale: 0;
    transition-duration: .4s;
    transition-timing-function: ease-in;
}

.work span{
    padding: 1px 4px;
    background-color: #a6a6a661;
    border-radius: 5px;
    margin-left: 10px;
}

.work img{
    width: 100%;
    height: 100%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.work:hover img{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

/*=====================================*/
/*Contact section styling*/
/*=====================================*/

.contact-head{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.contact-head .main-name{
    font-size: 40px;
    font-weight: 600;
    color: var(--text);
}

.contact-head .sub{
    font-size: 15px;
    font-weight: 300;
    color: var(--subtxt);
    margin-top: 24px;
    padding: 24px;
}

.contact-name{
    font-size: 40px;
    font-weight: 600;
    color: var(--text);
}

.sec-2{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
}

.form-sec{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    color: var(--text);
}

.txt{
    font-size: 16px;
    font-weight: 600;
}

.form-sec input{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.input01,.input02{
    background-color: rgba(38, 31, 34, 0.05);
}

.form-sec input[type="submit"]{
    background: var(--primary);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 267px 468px rgba(44, 44, 44, 0.04),
                 0px 33.4325px 58.6009px rgba(44, 44, 44, 0.02);
    cursor: pointer;
    position: relative;
}


.lab{
    width: 100%;
    height: 14px;
    font-size: 12px;
    font-weight: 500;
    color: #FC3A79;
}

textarea{
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(38, 31, 34, 0.05);
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    border: 2px solid transparent;
    border-radius: 10px;
    
}


.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

/*=====================================*/
/*Footer styling*/
/*=====================================*/

.footer{
    margin-top: 40px;
    width: 100%;
    height: 100px;
    padding: 24px;
    display: flex;
    border-top: 1px solid rgba(38, 31, 34, 0.1);
}

.social{
    display: flex;
    align-items: center;
}

.footer svg{
    width: 20px;
    margin-right: 40px;
    fill: rgba(22, 77, 195, 0.849);
}

.social a:hover svg{
    fill: rgb(22, 77, 195);
    transition-duration: .4s;
}

.hide{
    display: none;
}

/*=====================================*/
/*Making Responsive*/
/*=====================================*/

@media(max-width:860px){
    .work-sec{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}


@media(max-width:570px){
    .work-sec{
        gap: 20px;
    }
    .sec-2{
        grid-template-columns: 1fr;
    }
    
    .contact-head{
        height: 100px;
    }
    .form-sec{
        padding: 24px;
    }
    .head{
        font-size: 45px;
    }
    .head span{
        font-size: 35px;
    }

    .hide{
        display: block;
    }

    .not{
        display: none;
    }
}

@media(max-width:540px){
    .head{
        font-size: 45px;
    }
    .nav li{
        margin: 10px;
    }
}

@media(min-width:1440){
    #btn-sub{
        width: 55px;
    }
}

@media(max-width:444px){
    .head span{
        font-size: 29px;
    }
}

@media(max-width:380px){
    .head span{
        font-size: 22px;
    }
    .head{
        font-size: 43px;
    }
    .nav li{
        font-size: 14px;
        margin: 0;
        margin-right: 10px;
    }
}

@media(max-width:400px){
    .work .info{
        font-size: 13px;
        top: 10px;
        left: 10px;
    }
}

/*=====================================*/
/*dark*/
/*=====================================*/

.dark-main{
    background-color: var(--dark-black);
    box-shadow: none;
}

.dark-txt{
    background: linear-gradient(270deg, #C96A6A -3.75%, #1D4ED9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.dark-light{
    color: #fff;
}

.dark-blue{
    background: linear-gradient(270deg, #FFFFFF -3.75%, #3164F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.dark-lab{
    color: var(--subtxt);
}

.dark-input{
    background-color: rgba(78, 74, 74, 0.074);
}

