@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #00000096;
}

.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, #F8F2FF 0%, rgb(255, 255, 255) 100%);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #fff;
}

.nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    font-size: 20px;
    font-weight: 500;
}

.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-bottom: 0px;
}

.head-txt{
    font-weight: 600;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.838);
    width: 100%;
    max-width: 500px;
}

.grad{
    background: linear-gradient(109.57deg, #BD34FE 30%, #41D1FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

.head-txt p{
    font-size: 18px;
    font-weight: 300;
    color: #000000cc;
    margin-top: 20px;
}

.dark{
    font-weight: 400;
    color: #000;
}

.btns{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn{
    padding: 10px 30px;
    background-color: #646CFF;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn:hover{
    border: 1px solid #646CFF;
    background-color: transparent;
    color: #5059fe;
    transition: all .3s ease-in-out;
}

.get-btn{
    padding: 10px 30px;
    background: #F6F6F7;
    border: 1px solid rgba(60, 60, 67, 0.29);
    border-radius: 100px;
    cursor: pointer;
}

.get-btn:hover{
    transition: all .3s ease-in-out;
    scale: 1.05;
}

.right-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-box img{
    width: 500px;
}

.grid-box{
    width: 500px;
    height: 400px;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    background: url(./assets/work01.jpg);
    background-position: center;
    background-size: cover;
    transition: all .4s ease-in-out;
}

.line-vr{
    width: 20px;
    height: 100%;
    background-color: #fff;
}



.grid-box01{
    width: 100%;
    height: 100%;
    background-color: transparent;
}



.blank{
    width: 100%;
    height: 20%;
    background-color: #ffffff;
}
.visible{
    width: 100%;
    height: 60%;
    background-color: transparent;
}

.grid-box:hover{
    background: url(./assets/work02.jpg);
    background-position: center;
    background-size: cover;
    transition: all .4s ease-in-out;
}

.grid-box02{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.grid-box03{
    width: 100%;
    height: 100%;
    background-color: transparent;
}




/*work-sec*/

.work-sec{
    width: 100%;
    padding: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.head-title{
    font-size: 48px;
    font-weight: 600;
}

.txt{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #9c9a9a;
    font-weight: 300;
    line-height: 1.8rem;
}

.txt p{
    width: 100%;
    max-width: 400px;
}

.grid-lay{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 5px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    gap: 20px;
}

.work{
    height: 450px;
    background-color: #9c9a9a;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.work-txt{
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.app{
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 45px;
    padding: 20px;
    transition: all .4s ease-in-out;
    backdrop-filter: blur(40px);
}

.arrow{
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: all .4s ease-in-out; 
    transform: translateX(-100px);
    z-index: -1;
}

.arrow svg{
    width: 24px;
    height: 24px;
    fill: #F6F6F7;
}

.work:hover .arrow{
    transform: translateX(0);
    z-index: 0;
}

.work:hover{
    rotate: 1deg;
    transition: all .3s ease-in-out;
}

.mobile{
    display: none;
}

/*contact*/
.contact{
    width: 100%;
    padding: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}

.email-link{
    border: 1.5px solid #646CFF;
    color: #5059fe;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.email-link:hover{
    box-shadow: 2px 3px 0px #646CFF;
    transition: all .4s ease-in-out;
}

/*footer*/
.foot{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 14px;
    color: #000000a0;
    padding: 20px;
}

.foot svg{
    width: 20px;
    height: 20px;
}

.social{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}


@media(max-width:1110px){
    .hero{
        padding: 40px;
    }
    .right-box img{
        width: 400px;
    }

    .work-sec{
        padding: 20px;
    }
    .tab{
        width: 350px;
        height: 200px;
    }
    .services{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
}

@media(max-width:860px){
    .hero{
        padding: 40px;
        flex-direction: column;
        gap: 60px;
    }
    .services{
        padding: 60px;
    }
    .work-sec{
        padding: 60px;
    }
    .tab{
        width: 350px;
        height: 200px;
    }
    .grid-lay{
        grid-template-columns: 1fr;
    }
    .work{
        height: 360px;
        display: none;
    }
    .mobile{
        display: flex;
    }
    .no-hide{
        display: flex;
    }
}

@media(max-width:510px){
    .hero{
        padding: 20px;
    }
    .right-box img{
        width: 350px;
    }
    .services{
        padding: 20px;
        display: none;
    }
    .work-sec{
        padding: 20px;
    }
    .tab{
        width: 350px;
        height: 200px;
    }
    .head-title{
        font-size: 40px;
    }
    .services{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .grid-two-lay{
        grid-template-columns: repeat(1,1fr);
    }
    .work{
        height: 280px;
    }

    .grad{
        font-size: 34px;
    }
    .head-txt{
        font-size: 34px;
    }
    .get-btn{
        padding: 10px 20px;
    }

    .work-txt{
        height: 38px;
    }
    .app{
        height: 38px;
        font-size: 14px;
        padding: 10px;
    }
    .arrow{
        width: 38px;
        height: 38px;
    }

}

@media(max-width:400px){
    .work{
        height: 240px;
    }
    .right-box img{
        width: 300px;
    }
    .head-title{
        font-size: 32px;
    }
}

@media(max-width:312px){
    .work{
        height: 180px;
    }
    .grad{
        font-size: 31px;
    }
    .head-txt p{
        font-size: 14px;
    }
    .head-txt{
        font-size: 30px;
    }
    .get-btn{
        padding: 10px 10px;
    }
    .btn{
        padding: 10px 15px;
    }
}


/*=============== ANIMATIONS =============*/
/* animation class and keyframes */
   .drop-in {
    animation: drop-in 1s ease 200ms backwards;
   }
   
   .drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
   }
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }


   